<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewDrag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED74239D1DFD6F6C0088F9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED7423B11DFD6F6C0088F9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED7423BC1DFD6F6C0088F9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
